@import './typovars';

button {
  padding: 6px 26px 5px;
  background: $yellow;
  border-radius: 10px;
  display: inline-flex;
  font-family: $sans;
  font-size: 18px;
  color: $dkgrey;
  font-weight: 800;
  letter-spacing: 0;
  text-align: center;
}
.homeHeader {
  font-family: $sans;
  font-size: 22px;
  font-weight: 800;
  color: $yellow;
  letter-spacing: 0;
  line-height: 0em;
  padding-bottom: 61px;
}
.gradient_spacer {
  margin-top: 7px;
  height: 20px;
  border-bottom: $yellow solid 1px;
  transform: scaleY(-1);
  background-image: linear-gradient(0deg, #262524 0%, rgba(38, 37, 36, 0.96) 24%, rgba(38, 37, 36, 0) 100%);
}
.hr {
  margin-top: 7px;
  border-bottom: $yellow solid 1px;
}
.listHeader {
  font-family: $sans;
  font-size: 12px;
  color: #979797;
  letter-spacing: 0;
}

.arrow-cta {
  span {
    cursor: pointer;
    position: relative;
    width: 29px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // right: 0px;
    display: block;

    &:after {
      content: '>';
      font-family: $sans;
      font-size: 48px;
      color: $yellow;
      letter-spacing: 0;
      line-height: 40px;
      .rounded:hover & {
        color: #fff;
      }
    }
  }
}
.breadcrumb {
  list-style: none;
  li {
      font-size:12px;
    display: inline-block;
    color: #888888;

    &:after {
      content: ' > ';
      white-space: pre;
      display: inline;
      position: relative;
    }

    &.current {
      color: $yellow;
      a {
        color: $yellow;
      }
      &:after {
        content: none;
      }
    }
  }
}
.pageHeader{
  .py-10{
    padding-top:50px;
    padding-bottom:50px;
  }
}
h4{
  color:#979797;
}
.task-list {
  p {
    font-size: 16px;
    color: #ffffff;
    &.hr {
      border-bottom: 2px solid $dkgrey;
    }
  }
}
