@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// SIZES

$maxwidth: 1440px;
$medwidth: 1020px;
$minwidth: 750px;

$maxheight: 1024px;
$minheight: 800px;

// $dkblue: #1e3b6f;
$dkgrey: #262524;
.dkgrey {
  fill: $dkgrey;
  background-color: $dkgrey;
}
$grey: #2d2d2a;
.text-grey {
  color: $grey;
}
.grey {
  fill: $grey;
  background-color: $grey;
}
button.grey{
  background-color:#5C5B5B;
}
$ltgrey: #a2a2a2;
.text-ltgrey {
  color: #a2a2a2;
}
.ltgrey {
  fill: $ltgrey;
  background-color: $ltgrey;
}
$yellow: #f2a900;
.yellow {
  fill: $yellow;
  background-color: $yellow;
}
.text-yellow {
  color: $yellow;
}

$red: #c53232;
.red {
  fill: $red;
  background-color: $red;
}
.text-red {
  color: $red;
}

$green: #4affbd;
.green {
  fill: $green;
  background-color: $green;
}
.text-green {
  color: $green;
}
.border-left {
  border-left: 2px solid $dkgrey;
}

.text-offline {
  color: FF9B2F;
}
//TYPE
.sans {
  font-family: Poppins, sans-serif;
}
$sans: Poppins, sans-serif;
.text-36 {
  font-size: 36px;
}
.text-30 {
  font-size: 30px;
  font-weight: 800;
}
.text-24 {
  font-size: 24px;
  font-weight: 800;
}
.text-20 {
  font-size: 20px;
  font-weight: 800;
}
.text-18 {
  font-size: 18px;
}
.text-16 {
  font-size: 16px;
}
.text-14 {
  font-size: 14px;
}
.text-12 {
  font-size: 12px;
  // font-weight: 400;
}
.text-10 {
  font-size: 10px;
  // font-weight: 400;
}

.rounded {
  border-radius: 10px;
}

.max-main {
  max-width: 1085px;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
