<template>
  <section class="w-full">
    <h1>This is the about page</h1>
    <div></div>
  </section>
</template>
<script>
import axios from 'axios';

export default {
  data() {
    return {
      pageData: {},
    };
  },
  created(){
    // LOAD FROM API
    // axios
    //   .get(this.$store.state.api + 'about-us/')
    //   .then((response) => {
    //     console.log(`about us: ${JSON.stringify(response.data)}`);
    //     var showdown = require('showdown'),
    //       converter = new showdown.Converter(),
    //       html = converter.makeHtml(response.data.Content);
    //     this.pageData = response.data;
    //     this.pageData.Content = html;
    //     this.$forceUpdate();
    //   })
    //   .catch((error) => console.log(error));

  },
  mounted() {
  },
};
</script>
<style lang="scss" scope>
@import '../styles/helpers';
@import '../styles/typovars';
@import '../styles/shared';


</style>
