<template>
  <section>
    <propertiesPageHeader></propertiesPageHeader>
    <div class="listHeader max-main">
      <div class="grid grid-cols-9 gap-5">
        <div class="col-span-2 pl-3 text-12 pl-3">Name</div>
        <div class="col-span-1 text-12 pl-3">Units</div>
        <div class="col-span-1 text-12 pl-3">Appliances</div>
        <div class="col-span-1 text-12 pl-3">Online</div>
        <div class="col-span-1 text-12 pl-3">Offline</div>
        <div class="col-span-1 text-12 pl-3">Errors</div>
      </div>
      <div class="gradient_spacer relative w-full m-0"></div>
    </div>
    <ul>
      <buildinglisting></buildinglisting>
      <buildinglisting name="Building 2" units="60" errors="6"></buildinglisting>
      <buildinglisting name="Building 3" units="60" errors="0"></buildinglisting>
    </ul>
  </section>
</template>

<script>
import propertiesPageHeader from '@/components/propertiesPageHeader.vue';
import buildinglisting from '@/components/propertiesBuildingListItem.vue';

export default {
  components: { buildinglisting, propertiesPageHeader },
  data() {
    return {};
  },
  mounted() {
    // this.$store.watch(
    //   (state) => {
    //     return state.path;
    //   },
    //   ((newVal, oldVal) => {
    //     if (newVal !== oldVal) {
    //       this.currentComponent = newVal;
    //       console.log(newVal);
    //       // this.resetState();
    //       // this.setFlowEnvironment(newVal);
    //       // this.$forceUpdate();
    //     }
    //   }).bind(this),
    //   {}
    // );
  },
  watch: {},
  methods: {},
};
</script>
<style lang="scss" scope>
@import '../styles/typovars';
</style>
