<template>
  <section id="propertiesList">
    <div class="listHeader">
      <h1 class="pl-3 homeHeader">Properties</h1>
      <div class="grid grid-cols-9 gap-5">
        <div class="col-span-2 pl-3 text-12 pl-3">Name</div>
        <div class="col-span-1 text-12 pl-3">Units</div>
        <div class="col-span-1 text-12 pl-3">Appliances</div>
        <div class="col-span-1 text-12 pl-3">Online</div>
        <div class="col-span-1 text-12 pl-3">Offline</div>
        <div class="col-span-1 text-12 pl-3">Errors</div>
        <div class="col-span-2 text-12 pl-3">Property Manager</div>
      </div>
      <div class="gradient_spacer relative w-full m-0"></div>
    </div>
    <ul>
        <listing name="Orchard Gardens"></listing>
        <listing name="Shady Meadow"></listing>
        <listing name="Oak Glenn"></listing>
        <listing name="Covered Bridge"></listing>
        <listing name="Twin Peaks"></listing>
        <listing name="Orange Grove"></listing>
        <listing name="The Hills"></listing>
        <listing name="The Residences"></listing>
        <listing name="The Gates of Mordor"></listing>
        <listing name="Sunrise Park"></listing>
    </ul>
    <div class="absolute bottom-0 right-0 p-5 align-right text-18">
      <button class="is-disabled">ADD PROPERTY</button>
    </div>
  </section>
</template>

<script>
import listing from '@/components/propertiesHomeListItem.vue';
export default {
  components: { listing },
  data() {
    return {};
  },
  mounted() {
    // this.$store.watch(
    //   (state) => {
    //     return state.path;
    //   },
    //   ((newVal, oldVal) => {
    //     if (newVal !== oldVal) {
    //       this.currentComponent = newVal;
    //       console.log(newVal);
    //       // this.resetState();
    //       // this.setFlowEnvironment(newVal);
    //       // this.$forceUpdate();
    //     }
    //   }).bind(this),
    //   {}
    // );
  },
  watch: {},
  methods: {},
};
</script>
<style lang="scss" scope>
@import '../styles/typovars';

</style>
