<template>
  <section>
    <div class="listHeader">
      <h1 class="pl-3 homeHeader">Users</h1>
    </div>
    <div class="w-full">
      <div class="hr pb-2 pl-3 mb-4">
        <h2>Owner</h2>
        <p class="options text-white"><span>Full access</span> | Control of all accounts, permissions and settings</p>
      </div>
      <userlisting name="Susan Jones"></userlisting>
      <div class="hr pb-2 pl-3 pt-10 mb-4">
        <h2>Property Manager</h2>
        <p class="options text-white"><span>Limited access</span>  |  Add/Remove User  |  Change Password  |  Assign Tasks  |  Assign Roles  |  Create Roles</p>
      </div>
      <userlisting name="Janet Evans"></userlisting>
      <div class="hr pb-2 pl-3 pt-10 mb-4">
        <h2>Maintenance</h2>
        <p class="options text-white"><span>Limited access</span>  |  See Service Data  |  Complete Tasks  |  Control Unit  |  Recieve Alerts  |  Aux Settings</p>
      </div>
      <userlisting name="Bob Stevens"></userlisting>
    </div>
    <div class="absolute bottom-0 right-0 p-5 align-right text-18 grid grid-cols-2 gap-5">
      <button class="cursor-not-allowed grey px-10">ADD ROLE</button>
      <button class="cursor-not-allowed yellow px-10">ADD USER</button>
    </div>
  </section>
</template>
font-family: Poppins-Medium; font-size: 12px; color: #F2A900; letter-spacing: 0;
<script>
// import propertiesPageHeader from '@/components/propertiesPageHeader.vue';
import userlisting from "@/components/usersListItem.vue";

export default {
  components: { userlisting },
  data() {
    return {};
  },
  mounted() {},
  watch: {},
  methods: {},
};
</script>
<style lang="scss" scope>
@import "../styles/typovars";
h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
}
.options {
  color: #979797;
  font-size: 12px;
  span {
    color: $yellow;
  }
}
</style>
