<template>
  <span>
      <svg
        width="20px"
        height="20px"
        viewBox="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Batch-Command" transform="translate(-415.000000, -483.000000)" :fill="fillColor" fill-rule="nonzero">
            <rect id="Rectangle" x="415" y="483" width="20" height="20" rx="3"></rect>
          </g>
        </g>
      </svg>
  </span>
</template>

<script>
export default {
  props: {
    fillColor: {
      type: String,
      default: "#54544F",
    },
  }
};
</script>
<style lang="scss" scope>
</style>
