<template>
  <span>
    <svg
      width="16px"
      height="9px"
      viewBox="0 0 16 9"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Batch-Command" transform="translate(-578.000000, -435.000000)" :fill="fillColor" fill-rule="nonzero">
          <polygon id="Path" points="586 435 594 444 578 444"></polygon>
        </g>
      </g>
    </svg>
  </span>
</template>

<script>
export default {
  props: {
    fillColor: {
      type: String,
      default: "#54544F",
    },
    transformVal: {
      type: String,
      default: "0",
    },
  },
  mounted(el) {
    el.style.transform = "rotate(" + this.transformVal + "deg)";
  },
};
</script>
<style lang="scss" scope></style>
