<template>
  <div id="container">
    <Menu></Menu>
    <router-view></router-view>
    <Legal></Legal>
  </div>
</template>

<script>
// import Burner from '../../js/utils/AudioHandler';
import Vue from 'Vue';
import Menu from './header.vue';
import Legal from './legal.vue';
// import "tailwindcss/tailwind.css";

export default {
  components: {
    Menu,
  },
  data() {
    return {
      currentComponent: 'home',
      bundler: 'Parcel',
    };
  },
  mounted() {
    this.$store.watch(
      (state) => {
        return state.path;
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal) {
          this.currentComponent = newVal;
          console.log(newVal);
          // this.resetState();
          // this.setFlowEnvironment(newVal);
          // this.$forceUpdate();
        }
      }).bind(this),
      {}
    );
  },
  watch: {},
  methods: {
    resetState: function() {
      // const resetstatus = {
      //   burner0: false,
      //   burner1: false,
      // };
      // for (const obj in resetstatus) {
      //   this.$store.dispatch('setStatus', { target: obj, status: resetstatus[obj] });
      // }
    },
  },
};
</script>
<style lang="scss">
// @import "tailwindcss/base";
// @import "tailwindcss/custom-forms";
#main {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform-origin: center center;
  margin: auto;
}


</style>
