<template>
  <li @click="propertyClick" class="w-full relative rounded grey p-2 mb-2">
    <div class="grid grid-cols-9 gap-5">
      <div class="col-span-2 pl-3">
        <div class="text-white font-extrabold text-20 mb-0">{{ propertyName }}</div>
        <div class="text-ltgrey text-12 m-0">{{ propertyAddress }}</div>
      </div>
      <div class="col-span-1 text-white font-extrabold text-20 border-left my-auto p-2">{{ propertyUnits }}</div>
      <div class="col-span-1 text-white font-extrabold text-20 border-left my-auto p-2">{{ propertyAppliances }}</div>
      <div class="col-span-1 font-extrabold text-20 text-green border-left my-auto p-2">{{ propertyOnline }}</div>
      <div class="col-span-1 font-extrabold text-20 text-yellow border-left my-auto p-2">{{ propertyOffline }}</div>
      <div class="col-span-1 font-extrabold text-20 border-left my-auto p-2" :class="{ 'text-red': errors > 0, 'text-ltgrey': errors == 0 }">{{ propertyErrors }}</div>
      <div class="arrow-cta col-span-2 text-12 text-white border-left my-auto p-2">
        <a :href="propertyManager">{{ propertyManager }}</a><a :to="propertyURL"><span class="right-2"></span></a>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'Orchard Gardens',
    },
    address: {
      type: String,
      default: '123 Main St. City State 12345',
    },
    units: {
      type: Number,
      default: 200,
    },
    appliances: {
      type: Number,
      default: 3000,
    },
    online: {
      type: Number,
      default: 2371,
    },
    offline: {
      type: Number,
      default: 620,
    },
    errors: {
      type: Number,
      default: 9,
    },
    manager: {
      type: String,
      default: 'name@email.com',
    },
    url: {
      type: String,
      default: '/properties/orchard-gardens',
    },
  },
  components: {},
  data() {
    return {
      propertyName: this.name,
      propertyAddress: this.address,
      propertyUnits: this.units,
      propertyAppliances: this.appliances,
      propertyOnline: this.online,
      propertyOffline: this.offline,
      propertyErrors: this.errors,
      propertyManager: this.manager,
      propertyURL: this.url,
    };
  },
  computed: {},
  mounted() {},
  watch: {},
  methods: {
    propertyClick: function() {
      if(this.propertyName =='Orchard Gardens')
      this.$router.push(this.propertyURL);
    },
  },
};
</script>
<style lang="scss" scope>
@import '../styles/typovars';
.rounded {
  cursor: pointer;
}
.manager {
  // cursor: pointer;
  position: relative;
  &:after {
    content: '>';
    width: 29px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: inline-block;
    font-family: $sans;
    font-size: 48px;
    color: $yellow;
    letter-spacing: 0;
    line-height: 40px;
    .rounded:hover & {
      color: #fff;
    }
  }
}
</style>
