@import url('../tailwind.css');
@import 'styles/typovars';
@import 'styles/shared';
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans;
  position: relative;
  min-height: 100vh;
  width: 100%;
  user-select: none;
  background: $dkgrey;
  * {
    user-select: none;
  }
}

html {
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
  overflow-y:auto;
}

#container{
  max-width: 1450px;
  overflow: hidden;
}